<div class="container">
    <div class="header-content" cols="1">
        <div class="grafico1">
            <canvas id="MyChartBar">{{chart}}</canvas>
        </div>
        <div class="grafico2">
            <canvas id="MyChartLine">{{chart}}</canvas>
        </div>

    </div>

    <div class="header-content-below" cols="1">
        <div class="bar1">
            <canvas id="MyChartCircle">{{chart}}</canvas>
        </div>
        <div class="bar2">
            <canvas id="MyChartPolarArea">{{chart}}</canvas>
        </div>
        <div class="bar3">
            <canvas id="MyChartBar2">{{chart}}</canvas>
        </div>
    </div>
</div>

<!-- <div class="grafico1">
    <canvas #meuCanvas></canvas>
</div>
<div class="grafico2">
    <canvas id="MyChart">{{ chart }}</canvas>
</div>

<div class="grafico2">
    <canvas id="MyChartArea">{{ chart }}</canvas>
</div>

<div class="grafico2">
    <canvas id="MyChartBar">{{ chart }}</canvas>
</div> -->