.container{
  background-color: #282a36;
  height: 100%;
  width: 100%;

}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
}

.grafico1 {
  background-color: white;
  height: 300px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.grafico2 {
  background-color: white;
  height: 300px;
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content-below{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bar1{
  background-color: white;
  width: 400px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar2{
  background-color: white;
  width: 400px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar3{
  background-color: white;
  width: 400px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
