<body style="background-color: #191622;">
    <div class="container">
        <nav>
            <app-navbar></app-navbar>
        </nav>
        <header>
            <div class="cards">
                <app-earnings></app-earnings>
                <app-orders></app-orders>
                <app-sales></app-sales>
                <app-sales></app-sales>

            </div>
            <div class="charts">

                <app-circle-chart></app-circle-chart>
                <app-bar-chart></app-bar-chart>
                <app-line-chart></app-line-chart>
            </div>
            <div class="table">
                <app-table-sales></app-table-sales>
            </div>
        </header>
        <main>

        </main>
    </div>
</body>